article img {
	max-width: 150px;
	max-height: 150px;
	object-fit: cover;
	-o-object-fit: cover;
	border-radius: 15px;
}

article {
	display: flex;
	gap: 30px;
	padding: 15px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-radius: 15px;
	transition: .4s ease-in-out;
	position: relative;
	overflow: hidden;
	color: var(--text-color);
}

article:hover {
	transform: translateY(-2px);
}

article::before {
	content: "";
	background-color: #24bce5;
	top: 0;
	right: calc(100% + 15rem);
	width: 15rem;
	height: 100%;
	position: absolute;
	z-index: -500;
	transform: skew(45deg);
	transition: .3s ease-in-out;
}

article:hover::before {
	right: 85%;
}

.card__body {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-right: 1.5rem;
	padding-bottom: 1.6rem;
}

div.card__body div:nth-child(1) {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

div.card__body div:nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

article .acc-btn {
	margin: 0;
	font-size: 1rem;
	width: auto;
}

.card__body h5 {
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: .3rem;
}

.card__body h5::before {
	content: "\2605";
	color: yellow;
	font-size: 1.4rem;
}

.card__address {
	display: flex;
	align-items: center;
	gap: .3rem;
}

@media only screen and (min-width: 1440px) {
	article::before {
		content: "";
		right: calc(100% + 14rem);
		width: 14rem;
	}

	article:hover::before {
		right: 91%;
	}
}

@media only screen and (max-width: 768px){
	article img {
		max-width: 100px;
		max-height: 100px;
	}

	.card__body {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	div.card__body div:nth-child(2) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

@media only screen and (max-width: 425px) {
	article img {
		max-width: 100%;
		max-height: 100%;
	}

	article {
		flex-direction: column;
		align-items: center;
	}

	.card__body {
		padding: 0;
		flex-direction: column;
		position: relative;
		gap: 10px;
	}

	div.card__body div:nth-child(1) {
		justify-content: start;
		gap: 1px;
	}

	div.card__body div:nth-child(2) .card__address {
		position: absolute;
		top: -25%;
	}

	div.card__body div:nth-child(2){
		width: 100%;
	}

	div.card__body div:nth-child(2) .acc-btn {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	article::before {
		content: "";
		right: calc(150% + 17rem);
		width: 14rem;
		opacity: .3;
	}

	article:hover::before {
		right: -300%;
	}
}

