.footer-distributed {
	background-color: transparent;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 15px 20px;
	color: var(--text-color);
	margin-top: 15px;
	border-top: 1px solid var(--text-color);
}

.footer-distributed .footer-left p {
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 0;
	transition: ease .25s;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	transition: ease .25s;
}

.footer-distributed .footer-links a:before {
	content: "";
	font-size: 20px;
	display: inline-block;
	padding-right: 10px;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 2.188rem;
	height: 2.188rem;
	border-radius: 2px;
	font-size: 1.25rem;
	text-align: center;
	line-height: 2.188rem;
	margin-left: 3px;
	transition: all .25s;
	color: var(--text-color);
	border: 1px solid var(--light);
}

.footer-distributed .footer-right a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
	text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right {
		text-align: center;
	}

	.footer-distributed .footer-right {
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links {
		line-height: 1.8;
	}
}