.CreateExperience{
	border-bottom: 2px solid var(--text-color);
	margin: 10px 0;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.CreateExperience div{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.CreateExperience h5{
	font-size: 25px;
}

.CreateExperience span{
	margin-left: 50px;
}

.experience-button{
	display: flex;
	justify-content: center;
	
}

.experience-button button{
	border: none;
	background-color: transparent;
	font-size: 20px;
	padding: 0 auto;
	margin-right: 30px;
	cursor: pointer;
}